$primary: #007aff;
$primary-hover: #0263ca;
$secondary: #6e8bb7;
$primary-background: #007bff24;
$row-hover: #f5f6f7;
$border-color: #e0e0e0;
$dark-main: #1e272c;
$dark-secondary: #2b363c;
$dark-border: #ffffff1a;
